:root {
  --light: #f5f5f5;
  --dark: #28292c;
  --dark-background: #323747;
}

.App {
  text-align: center;
  width: 80vw;
  margin: auto;
  padding-bottom: 5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


body.dark {
  background-color: var(--dark-background);
}

body.light {
  background-color: #ebebeb;
}

.now-playing {
  text-align: right;
  font-weight: 500;
  margin-right: 1em;
  color: #78869c;
}
.play-pause {
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  border: 2px solid #78869c;
  width: fit-content;
  margin-left: auto;
  padding: 0.5em;
  padding-top: 0.3em;
  border-radius: 6px;
}
.anp-name {
  min-height: 2em;
  text-align: left;
  width: 75vw;
  margin: auto;
  font-weight: 700;
  font-size: 18px;
}

.anp-name.dark {
  color: rgb(227, 227, 227);
}

.anp-name.light {
  color: #5d626fba;
}

#app-title {
  text-align: left;
}

#app-title.dark {
  color: #ffc1cb;
}

#app-title.light {
  color: #475b7bb3;
}

.map-snmb {
  width: 80vw;
  height: 60vh;
  margin: auto;
  border-radius: 15px;
}

.map-snmb.dark {
  border: 2px solid pink;
}

.map-snmb.light {
  border: 2px solid #26e1ee52;
}

.daytime-name {
  line-height: 50px;
  vertical-align: middle;
  font-weight: 700;
}

.daytime-name.light {
  width: 40px;
  text-align: right;
  color: #79859d;
}

.daytime-name.dark {
  color: white;
}

.toggle-switch-container {
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-end;
  width: 225px;
  margin-left: auto;
  margin-right: 0;
}

.toggle-switch-container.dark {
  width: 200px;
}

.toggle-switch {
  position: relative;
  margin-left: auto;
  width: 100px;
  height: 60px;
}

.toggle-switch-label {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

.input-switch {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
  left: 0;
}

.input-switch:checked ~ .slider {
  background-color: #f5f5f5;
  width: 103%;
  height: 104%;
  border-radius: 50px;
  top: -1px;
  transition: 0.3s;
  left: -1px;
  border: 1px solid #e5e5e5;
}

.slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  box-shadow: inset 14px -1px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.input-switch:checked ~ .slider::before {
  transform: translateX(47px);
  background-color: #ffce00;
  box-shadow: none;
  top: 5px;
  left: 9px;
  width: 42px;
  height: 42px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
